language: python
cache: pip
python:
  - "3.6"

addons:
  postgresql: 9.6
  apt:
    packages:
    - postgresql-9.6-postgis-2.3
before_script:
  - psql -U postgres -c "create extension postgis"

install:
  - make reqs

jobs:
  include:
    - stage: "Tests"
      name: "Test suite"
      script: make travis
    - stage: "Formatting"
      name: "Check formatting"
      script: make black
