version: "3"
# TODO: better config
services:
  nginx:
    volumes:
      - "./etc:/etc/ssl"
    ports:
      - "443:443"
  db:
    environment:
      POSTGRES_DB: "dev"
  web:
    environment:
      SECRET_KEY: "some key"
      DB_NAME: "dev"
      DB_USER: "tag_user"
      DB_HOST: "db"
      DB_PASSWORD: "somepass"
      AUTH0_CLIENTID: "something"
      AUTH0_SECRET: "pass"
