asn1crypto==0.24.0
azure-common==1.1.8
azure-nspkg==2.0.0
azure-storage-blob==0.37.1
azure-storage-common==0.37.1
azure-storage-nspkg==2.0.0
certifi==2017.7.27.1
cffi==1.11.4
chardet==3.0.4
cryptography==2.3
Django==1.11.15
django-queryset-csv==1.0.0
djangorestframework==3.6.4
djangorestframework-gis==0.11.2
djangorestframework-jwt==1.11.0
futures==3.1.1
gunicorn==19.7.1
httpie==0.9.9
idna==2.6
psycopg2==2.7.3.1
pycparser==2.18
Pygments==2.2.0
PyJWT==1.5.3
python-dateutil==2.6.1
pytz==2017.2
requests>=2.20.0
rest-framework-auth0==0.4.5
six==1.11.0
unicodecsv==0.14.1
urllib3==1.22
